<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension point="org.eclipse.ui.perspectives">
        <perspective
            name="myplugin 透视图"
            icon="icons/sample.gif"
            class="cn.nuaa.ai.testPlugins.SamplePerspective"
            id="cn.nuaa.ai.testPlugins.SamplePerspective">
        </perspective>
   </extension>
   
	<extension point="org.eclipse.ui.views">
	     <view
	             name="视图1"
	             icon="icons/sample.gif"
	             category="cn.nuaa.ai.view"
	             class="cn.nuaa.ai.testPlugins.View1"
	             id="cn.nuaa.ai.testPlugins.View1">
	     </view>
	     <view
	             name="视图2"
	             icon="icons/sample.gif"
	             category="cn.nuaa.ai.view"
	             class="cn.nuaa.ai.testPlugins.View2"
	             id="cn.nuaa.ai.testPlugins.View2">
	     </view>
	</extension>
	
	<extension point="org.eclipse.ui.editors">
	  <editor 
	        name="中国Editor"
	        icon="icons/sample.gif"
	        class="cn.nuaa.ai.testPlugins.ChinaEditor"
	        id="cn.nuaa.ai.testPlugins.ChinaEditor">
	  </editor>
	  <editor 
	        name="美国Editor"
	        icon="icons/sample.gif"
	        class="cn.nuaa.ai.testPlugins.UsaEditor"
	        id="cn.nuaa.ai.testPlugins.UsaEditor">
	  </editor>
	  <editor 
	        name="法国Editor"
	        icon="icons/sample.gif"
	        class="cn.nuaa.ai.testPlugins.FranceEditor"
	        id="cn.nuaa.ai.testPlugins.FranceEditor">
	   </editor>
	</extension>
</plugin>
